In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
test.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [5]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
passengerid = test['PassengerId'].values

In [8]:
train.drop(columns=['PassengerId','Ticket', 'Name'], inplace=True)
test.drop(columns=['PassengerId','Ticket', 'Name'], inplace=True)

In [9]:
test['Cabin'].fillna(0, inplace=True)
train['Cabin'].fillna(0, inplace=True)

In [10]:
# test['Cabin'] = test['Cabin'].values.astype(str)

In [11]:
# d=dict()
# for i in test['Cabin'].values:
#     for j in i:
#         if j.isalpha():
#             if j in d:
#                 d[j].append(i)
#             else:
#                 d[j] = [i]

In [12]:
train[train['Embarked'].isnull()]

     Survived  Pclass     Sex   Age  SibSp  Parch  Fare Cabin Embarked
61          1       1  female  38.0      0      0  80.0   B28      NaN
829         1       1  female  62.0      0      0  80.0   B28      NaN

In [13]:
train[(train['Survived']==1) & (train['Pclass']==1) & (train['Sex']=='female') & (train['Cabin']!=0)]['Embarked'].value_counts()

S    41
C    34
Q     1
Name: Embarked, dtype: int64

In [14]:
train[(train['Survived']==1) & (train['Pclass']==1)]['Embarked'].value_counts()

S    74
C    59
Q     1
Name: Embarked, dtype: int64

In [15]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [16]:
train.groupby('Embarked').mean()

          Survived    Pclass        Age     SibSp     Parch       Fare
Embarked
C         0.553571  1.886905  30.814769  0.386905  0.363095  59.954144
Q         0.389610  2.909091  28.089286  0.428571  0.168831  13.276030
S         0.336957  2.350932  29.445397  0.571429  0.413043  27.079812

In [17]:
train['Embarked'].fillna('C', inplace=True)

train['Embarked'].fillna('C') if we consider mean and not sum

In [18]:
test[test['Fare'].isnull()]

     Pclass   Sex   Age  SibSp  Parch  Fare Cabin Embarked
152       3  male  60.5      0      0   NaN     0        S

In [19]:
test['Fare'].fillna(test[(test['Pclass']==3) & (test['Cabin']==0) & (test['Embarked']=='S') & (test['Sex']=='male')]['Fare'].mean(), inplace=True)

In [20]:
test['Cabin'].values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'B45', 0, 'E31', 0, 0, 0, 0, 0,
       0, 0, 0, 0, 'B57 B59 B63 B66', 0, 'B36', 0, 'A21', 0, 0, 0, 0, 0,
       'C78', 0, 0, 0, 0, 0, 0, 'D34', 0, 0, 'D19', 0, 'A9', 0, 'D15', 0,
       'C31', 0, 0, 'C23 C25 C27', 0, 0, 0, 'F G63', 0, 'B61', 0, 0, 0, 0,
       'B57 B59 B63 B66', 0, 0, 0, 'C53', 'C23 C25 C27', 0, 0, 0, 'D43',
       'C130', 'C132', 0, 'C101', 0, 0, 0, 'C55 C57', 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 'B71', 0, 0, 0, 'C46', 0, 0, 0, 'C116', 0, 0, 0, 0, 0, 0,
       0, 0, 'F', 0, 0, 'A29', 0, 'C55 C57', 0, 0, 'G6', 'C6', 0, 0, 0,
       'C28', 0, 0, 0, 0, 0, 0, 0, 0, 'C51', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       'B57 B59 B63 B66', 0, 0, 0, 'E46', 0, 0, 0, 'C54', 0, 0, 0, 0, 0,
       'C97', 0, 'D22', 0, 0, 0, 0, 0, 0, 0, 'B10', 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 'C116', 'F4', 'E45', 0, 'E52', 'D30', 0, 'B58 B60', 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 'E34', 0, 0, 0, 0, 0, 'C62 C64', 0, 0,
       0, 0, 0, 'A11', 0, 0, 0, 0, 0, 0, 'B11', 0, 0, 'C80', 0, 0, 0,
       'F33', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'C85', 0, 'D37', 0, 0,
       'C86', 0, 0, 'E34', 0, 0, 'D21', 0, 0, 0, 0, 0, 0, 'C89', 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'C6', 0, 'C89', 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'B45', 'F E46', 0, 0, 0, 0, 'A34',
       0, 0, 0, 0, 0, 0, 0, 'D', 0, 0, 0, 'B26', 'C22 C26', 0, 'B69', 0,
       0, 0, 0, 0, 'C32', 0, 'B78', 0, 0, 0, 0, 'F E57', 'F2', 0, 0, 0,
       'F4', 0, 0, 0, 0, 'A18', 0, 0, 0, 'C106', 0, 0, 0, 0, 0, 0, 0,
       'B51 B53 B55', 0, 0, 0, 0, 0, 0, 'D10 D12', 0, 0, 0, 0, 'E60',
       'C101', 0, 0, 0, 0, 0, 0, 0, 'E50', 0, 0, 0, 0, 0, 0, 'E39 E41',
       'B52 B54 B56', 0, 'A34', 0, 0, 0, 'C39', 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 'B24', 'D28', 0, 0, 0, 'C31', 0, 'B41', 0, 0, 'C7', 0, 0, 0,
       'D40', 'D38', 0, 'C80', 0, 0, 0, 'C78', 0, 0, 'C105', 0, 0, 0],
      dtype=object)

In [21]:
cab=train[train['Cabin']!=0][['Cabin','Survived']]

In [22]:
cab[cab['Survived']==1]['Cabin'].value_counts().index

Index(['B96 B98', 'F33', 'E101', 'B5', 'C126', 'B35', 'E33', 'B18', 'E121',
       'D36',
       ...
       'D28', 'C2', 'E68', 'D19', 'A26', 'B51 B53 B55', 'D7', 'C101', 'C99',
       'E12'],
      dtype='object', length=101)

In [23]:
cab[cab['Survived']==0]['Cabin'].value_counts().index

Index(['C23 C25 C27', 'D26', 'F G73', 'G6', 'C124', 'C22 C26', 'E63', 'A5',
       'B94', 'B58 B60', 'T', 'D30', 'C49', 'A10', 'A24', 'C128', 'C2', 'C68',
       'C91', 'C78', 'E38', 'F G63', 'C110', 'E77', 'E58', 'C82', 'E44', 'B38',
       'C123', 'B51 B53 B55', 'B71', 'F2', 'B30', 'D48', 'E31', 'C46', 'B37',
       'D', 'C118', 'C83', 'D6', 'A32', 'C87', 'D50', 'C95', 'C30', 'A19',
       'A36', 'B86', 'B19', 'C65', 'C111', 'E46', 'E67', 'F38', 'A7',
       'B82 B84', 'B22', 'B102', 'D46', 'C86', 'A14'],
      dtype='object')

In [24]:
type(train['Cabin'].values[0])

int

In [25]:
def transform_cabin(cabin):
    if cabin!=0:
        return 1
    else:
        return 0

In [26]:
train['Cabin'] = train['Cabin'].apply(transform_cabin)

In [27]:
test['Cabin'] = test['Cabin'].apply(transform_cabin)

In [28]:
train_random_age = np.random.randint(train['Age'].mean()-train['Age'].std(), train['Age'].mean()+train['Age'].std(),size=177)

In [29]:
train['Age'][train['Age'].isnull()] = train_random_age

C:\Users\Piyal\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [31]:
test['Age'][test['Age'].isnull()] = np.random.randint(test['Age'].mean()-test['Age'].std(), test['Age'].mean()+test['Age'].std(), size=86)

C:\Users\Piyal\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
train.head(2)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare  Cabin Embarked
0         0       3    male  22.0      1      0   7.2500      0        S
1         1       1  female  38.0      1      0  71.2833      1        C

In [33]:
test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [34]:
train.corr()['Survived']

Survived    1.000000
Pclass     -0.338481
Age        -0.056607
SibSp      -0.035322
Parch       0.081629
Fare        0.257307
Cabin       0.316912
Name: Survived, dtype: float64

In [35]:
train.drop(columns=['SibSp','Parch','Age'], inplace=True)
test.drop(columns=['SibSp','Parch','Age'], inplace=True)

In [36]:
train.head(2)

   Survived  Pclass     Sex     Fare  Cabin Embarked
0         0       3    male   7.2500      0        S
1         1       1  female  71.2833      1        C

In [37]:
train = pd.get_dummies(train, columns=['Pclass','Sex','Cabin','Embarked'], drop_first=True)
test = pd.get_dummies(test, columns=['Pclass','Sex','Cabin','Embarked'], drop_first=True)

In [38]:
X = train.iloc[:,1:].values
y = train.iloc[:,0].values

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=1)

In [40]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [41]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [42]:
y_pred = clf.predict(X_test)

In [43]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8100558659217877

In [44]:
X_final = test.iloc[:,:].values

In [45]:
y_final = clf.predict(X_final)

In [46]:
y_final.shape

(418,)

In [47]:
new = pd.DataFrame()

In [48]:
new['PassengerId'] = passengerid
new['Survived'] = y_final

In [49]:
new.shape

(418, 2)

In [50]:
new.to_csv('submission.csv', index=False)

In [51]:
clf.predict([25.9292,  0.    ,  0.    ,  0.    ,  1.    ,  0.    ,  1.    ])

ValueError: Expected 2D array, got 1D array instead:
array=[25.9292  0.      0.      0.      1.      0.      1.    ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
X_test[0]